soot-infoflow/jimpleCode/
soot-infoflow-summaries/build/
soot-infoflow-summaries/target/
/.metadata
/.recommenders
.idea/
*.iml
target/
**/*.json
.settings
**/*.project
**/*.classpath

android-app-category.csv
apk-analyzer.py
apk-parser.py